body {
    color: #fff;
}
.color-theme{
    background: linear-gradient(0deg, rgb(4 15 22) 0%, rgb(4 15 22) 100%);
}
.page-section {
    padding: 3rem 0;
  }
#logo {
    width: 80px;
    border-radius: 50%;

}
.jd-slider .next, .jd-slider .prev {
    color: #fff  !important;
}
.jd-slider a {
    font-size: unset !important;    
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1312767508/image_1312767508.jpg?io=getty-c-crop-4-3);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    }

.hero-text button:hover {
background-color: #555;
color: white;
}
.headertext {
    font-size: 120px;
   
}
.subtext-heder {
    font-size: 40px;
    color: #ffffff;
}
.header-text {
    font-size: 37px;
    line-height: 47px;
    font-weight: bold;
    padding:30px 0 30px 0;
    max-width: 400px;
}
.header-text-center {
    font-size: 20px;
    text-align: center;
    background-color: #0e1720;
    border-radius: 147px;
    padding: 70px 150px 70px 70px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin: 100px 0;
}
.header-text-center .text22 {
    max-width: 600px;
}
.header-text-center img{
    position: absolute;
    width: 300px;
    top: -110px;
    right: 50px;
}
.subheader-text-center  {
    margin-top: 0;
    line-height: 35px;
    font-size: 18px;
}
.subheader-text-center p {
    max-width: 550px;
    margin: 0 auto;
}
.wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
}
.header-main {
    padding-top: 190px;
}
.dawnload {
    display: flex;
    background: #000;
    color: #fff;
    width: 180px;
    height: 56px;
    padding: 12px 0;
    padding-left: 15px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
}
.dawnloadtext {
    margin-left: 10px;
    margin-top: -2px;
    margin-left: 9px;
    text-align: left;
    line-height: 14px;
}

.dawnloadtext .text1{
    font-size: 10px;
    line-height: 18px;
}
.dawnloadtext .text2{
    font-size: 16px;
    font-weight: 700;
    display: block;
}
.dawnloadtext .text2 span{
    font-size: 10px;
}
.box-download {
    display: flex;
    position: absolute;
}
.listtext {
    padding-bottom: 20px;
    font-size: 18px;
}
.listtext li{
    line-height:25px;
    text-align: left;
    color: #3d5066;
    max-width: 400px;
    margin: 10px 0;
}
.tic {
    position: absolute;
    left: 139px;
    bottom: 164px;
    font-size: 10px;
    color: #8294af;
}

.group-detail {
    margin: 50px 0;
    text-align: left;
    padding: 40px 80px;

}
.group-detail .text-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.group-detail p{
    margin: 0;
    max-width: 260px;
}
.slider2 li{
    background-color: #ccc;
    text-align: center;
}

.jd-slider {
    border: 1px solid #00000054;
    box-shadow: -1px 1px 4px 1px #baa0a0;
    width: 650px;
}
.jd-slider .prev {
    left: 29px !important;
    background-color: #ffffff3d;
    padding: 5px 13px;
    border-radius: 50%;
}
.jd-slider .next {
    right: 29px !important;
    background-color: #ffffff3d;
    padding: 5px 13px;
    border-radius: 50%;
}
.jd-slider .controller .indicate-area {
    display: inline-block;
    position: absolute;
    z-index: 200;
    bottom: 22px;
    left: 0;
    right: 0;
}
.jd-slider, .jd-slider .slide-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 800px;
}
.jd-slider .controller .indicate-area a {
    color: #ccc;
}
.jd-slider .controller .indicate-area a:after {
    background-color: #ccc;
}
.aplink {
    box-shadow: -1px 1px 20px 9px #baa0a01f;
    margin-bottom: 50px;
  
}
.aplink .headtext {
    font-size: 25px;
    line-height: 47px;
    font-weight: bold;
    padding: 60px 50px 0 50px;
}
.aplink p {
    font-size: 18px;
    padding: 0 50px 0 50px;
}
.aplink .showimg-3 {
    width: 60%;
    margin-top: -30px;

}
.divdownload {
    display: flex;
    padding: 65px 0;
}
.aplink .bgshow {
    background-color: #4595e3;
    margin-top: 40px;
    border-radius: 5px;
}
.aplink .bgshow li{
    color: #fff;
}
.aplink .flexitem-center {
    display: flex;
    align-items: center;
}
#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    }

#scroll:hover {
    background-color: #555;
}
.detail-teams {
    text-align: center;
    margin-bottom: 60px;
}
.detail-teams img {
    border-radius: 50%;
    border: 7px solid #c4241e;
    width: 230px;
    background-color: #fff;
}
.detail-teams .name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.detail-teams .position {
    font-size: 15px;
    margin-bottom: 10px;
}
.detail-teams a {
    background-color: #2d2d2d;
    width: 40px;
    height: 40px;
}
.teams {
    padding: 200px 0;
}
.head_text {
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.head_text hr {
    height: 5px;
    max-width: 100px;
    background: rgb(170,44,40);
    background: linear-gradient(90deg, rgba(170,44,40,1) 0%, rgba(170,44,40,1) 53%, rgba(255,255,255,1) 100%);
    border-top: none;

}
.head_text span {
    color: #c4241e;
    font-size: 25px;
    font-weight: bold;
}

.detailcontent {
    margin: 150px 0;
    padding-left: 0;
    padding-right: 0;
}

.detailcontent .img1 {
    width: 80%;
    padding: 2px;
    background-color: #ccc;
    /* box-shadow: 0px 1px 7px 3px #baa0a030; */
}
.detailcontent .img2 {
    width: 80%;
    padding: 2px;
    background-color: #ccc;
    float: right;
    /* box-shadow: 0px 1px 7px 3px #baa0a030; */
}
.detailcontent .texthv {
    padding: 2px 10px;
}
.detailcontent .text-hd {
    font-size: 20px;
    margin-bottom: 10px;
} 
.detailcontent .text-sub {
    font-size: 15px;
} 
.detailcontent .text-detail {
    font-size: 15px;
}
.detailcontent .text-hd-2 {
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
} 
.detailcontent .text-sub-2 {
    font-size: 15px;
    text-align: right;
} 
.detailcontent .text-detail-2 {
    font-size: 15px;
    text-align: right;
}
.collapse.in {
    display: block;
}

.learnmore1 {
    color: #08b2ea;
    border-color: #0dcaf0;
    padding: 3px;
    border-radius: 3px;
    text-decoration: underline;
}
.header-text-center2{
    font-size: 40px;
    max-width: 650px;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 100px;
}
.subheader-text-center2 {
    font-size: 20px;
    padding-top: 20px;
    max-width: 650px;
    margin: 0 auto;
}

/*************** home 2***********/
.home2-bg1{
    background-color: #596f8517;
}
.home2-bg2{
    background-color: #ffffff;
}
.home2-bg3{
    background-color: #596f856b;
}
.home2 {
    color: #000;
    padding: 150px 0;
}
.home2 .img-headder {
    width: 90%;
    text-align: center;
    padding: 10px 5px;
    transition: transform .2s; 
}
/* .home2 .img-headder:hover {
    padding: 10px 5px;
    background-color: #f2b80c26;
    border-radius: 20px;
} */
.home2 .textheader {
    font-size: 60px;
    font-weight: bold;
}
.home2 .textsubtitle{
    font-size: 30px ;
    font-weight: bold;
    margin-bottom: 150px;
}
.home2 .download2{
    display: flex;
    align-items: center;
}
.home2 .download2-logo img{
    width: 150px;
    margin: 50px 5px 10px 5px;
}
.home2 .detail2 {
    font-size: 20px;
    color: #7c7c7c;
}
.home2 .detail-img img{
    width: 150px;
    transition: transform .2s; 
}

.home2 .detail-img img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    background-color: #0dcaf0;
    border-radius: 50%;
    padding: 10px;
}

.home2 .head-t {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.home2 .sub-t {
    font-size: 15px;
    margin-bottom: 50px;
    max-width: 450px;
}

.text-assets {
    font-size: 100px;
}
.text-sub-assets {
    font-size: 30px;
    color: #575757;
}
.logo1 img {
    width: 80px;
    transition: transform .2s;
    cursor: pointer;
}
.logo2 img {
    width: 70px;
    margin-top: 60px;  
    margin-bottom: 60px;
    transition: transform .2s;
    cursor: pointer;
}
.logo3 img {
    width: 70px;
    margin-top: 60px; 
    transition: transform .2s; 
    cursor: pointer;
}

.logo1 img:hover , .logo2 img:hover ,.logo3 img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    background-color: #0dcaf0;
    border-radius: 50%;
    padding: 10px;
}

.home2 .text22 {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#counter-box span{
    font-size: 100px; 
    color: #000;
}


#counter-section-container {
    width: 100%;
    text-align: center;
  }
  
  #counter-box-container {
    /*border: 1px solid #999999;*/
    overflow: hidden;
    display: inline-block;
  }
  
  #counter-box {
    /*width: 33.22%;*/
    width: 300px;
    min-width: 200px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    /*background-color: #111111;*/
    color: #cccccc;
    /*border: 1px solid #666666;*/
  }
  
  .counter {
    font-size: 100px;
    color:#000;
  }

  @media only screen and (max-width: 1400px) {
    .home2 .textsubtitle {
        margin-bottom: 60px;
        font-size: 30px;
    }
    .home2 .textheader {
        font-size: 40px;
    }
  }

  @media only screen and (max-width: 1300px) {
    .home2 .textsubtitle {
        margin-bottom: 70px;
        font-size: 25px;
    }
    .home2 .textheader {
        font-size: 38px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .home2 .textsubtitle {
        margin-bottom: 0px;
        font-size: 22px;
    }
    .home2 .textheader {
        font-size: 34px;
    }
    .listtext  {
        padding: 0;
    }
  }

  @media only screen and (max-width: 1000px) {
    .home2 .download2-logo img {
        width: 110px;
    }
    .home2 .detail2 {
        font-size: 15px;
    }
    
  }

  
  @media only screen and (max-width: 768px) {
    .home2 .img-headder {
        width: 425px;
    }
    .home2 .textheader {
        padding-top: 60px;
    }
    .home2 {
        padding: 100px 0;
    }
    .home2 .download2-logo img {
        margin: 50px 2px 10px 2px;
    }

    .header-text {
        max-width: 100%;
        font-size: 30px;
        padding: 10px 0;
    }
    .wrapper {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .wrapper img{
       width: 576px;
       margin-top: 50px;
    } 
    .header-text {
        max-width: 100%;
        font-size: 26px;
        padding: 10px 0;
        line-height: 33px;
    }
    .home2 {
        padding: 70px 0;
    }
    .listtext li {
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 556px) {
    .home2 .img-headder {
        width: 100%;
    }
    .logo2 img {
        width: 50px;
    }
    .logo1 img {
        width: 50px;
    }
    .logo3 img {
        width: 50px;
    }
    .counter{
        font-size: 60px;
    }
    .text-sub-assets {
        font-size: 20px;
    }
    #counter-box span {
        font-size: 60px;
    }
    .header-text-center2 {
        font-size: 24px;
        padding-top: 50px;
    }
    .home2 .detail-img img {
        width: 130px;
    }
    #scroll {
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #d20f05;
        color: white;
        cursor: pointer;
        padding: 10px 13px;
        opacity: 0.7;
        border-radius: 4px;
    }
  }


  



