body {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    margin-top: 5px;
    font-size: 3rem;
    text-align: center;
}

.jd-slider {
    margin: 50px 0;
}

.jd-slider .slide-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 1px solid #888;
}

.jd-slider .slide-area > li {
    border-right: 1px solid #888;
    border-left: 0;
    box-sizing: border-box;
    text-align: center;
}

.jd-slider .slide-area > li:first-child {
    border-left: 1px solid #888;
}

.jd-slider .slide-area > li > a {
    display: block;
    height: 200px;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
    outline: 0;
}

.jd-slider .controller {
    margin: 10px 0 0;
}

.jd-slider.slider3 .slide-area > li,
.jd-slider.slider3-2 .slide-area > li,
.jd-slider.slider3-3 .slide-area > li {
    width: 50%;
}

.jd-slider.slider3 .slide-area > li:nth-child(2),
.jd-slider.slider3-2 .slide-area > li:nth-child(2),
.jd-slider.slider3-3 .slide-area > li:nth-child(2) {
    display: block;
}

.jd-slider.slider4 .slide-area > li:first-child {
    background-color: #a66;
}

.jd-slider.slider4 .slide-area > li:first-child + li {
    background-color: #6a6;
}

.jd-slider.slider4 .slide-area > li:first-child + li + li {
    background-color: #66a;
}

.jd-slider.slider4 .slide-area > li:first-child + li + li + li {
    background-color: #aaa;
}